.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginPage-form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.LoginPage-form-input {
  margin-bottom: 1em;
}

.LoginPage-form-button {
  align-self: center;
  width: 30%;
}
